@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&display=swap');

/* Header */

:root{
    --background-color1: #2c4251;
    --background-color2: #72ddf7;
    --text-color1: #7cea9c;
    --text-color2: #2c4251;
    --font-default: "Oswald:wght@300", sans-serif;
    --font-headings: "Oswald:wght@500", sans-serif;
}

body{
    background-color: var(--background-color2);
    font-family: var(--font-headings);
}

header{
    background-color: var(--background-color1);
    color: var(--text-color1);
    font-family: var(--font-headings);
    padding-bottom: 1.2rem;
}

header h1{
    text-align: center;
}

/* Hamburger Menu */

#menu::before {
	content: "☰";
}

#menu.open::before{
    content: "❌";
}

#menu{
    font-size: 1.5rem;
    border: 0;
    background: none;
    padding-left: 1rem;
}
nav ul{
    margin: 0;
    display: none;
    padding-bottom: 1rem;
}

nav li{
    list-style-type: none;
    padding-top: 0.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: var(--background-color1);
}

nav li a{
    font-family: var(--font-headings);
    color: var(--text-color1);
    display: block;
    text-align: center;
}

nav li a:hover{
    color: var(--text-color2);
    background-color: var(--background-color2);
}

.open ul{
    display: block;
}

/* Intro */

.intro{
    margin-top: -1.25rem;
    background-color: var(--background-color2);
    padding-bottom: 1rem;
}
.intro h2, .intro h3{
    color: var(--text-color2);
    font-family: var(--font-headings);
}

.intro p{
    color: var(--text-color2);
    font-family: var(--font-default);
}

.hero-image img{
    display: block;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid black;
}

#call-to-action{
    display: block;
    margin:  1rem auto 1rem auto ;
}

.frame{
    background-color: var(--background-color2);
    padding-bottom: 1rem;
}

iframe{
    display: block;
    background-color: var(--background-color2);
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    border: 5px solid black;
}

h2{
    background-color: var(--background-color2);
    padding-top: 2rem;
    margin:  -1rem auto -1rem auto ;
    padding-bottom: 3rem;
    font-family: var(--font-headings);
    color: var(--text-color2);

}

#events{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--background-color2);
}

.event{
    display: block;
    max-width: 145px;
    border: 3px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5rem;
    background-color: var(--background-color1);
    color: var(--text-color1);
}

.event h3, .event p{
    text-align: center;
}

#weather{
    display: block;
    text-align: center;
    padding: 2rem;
    background-color: #72ddf7;
}

#current-e{
    text-align: center;
}

.spotlight{
    display: block;
    max-width: 145px;
    border: 3px solid black;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--background-color1);
    color: var(--text-color1);
    
}

.spotlights{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: var(--background-color2);
}

#spotlight-title{
    text-align: center;
}

footer {
    background-color: var(--background-color2);
    color: var(--text-color2);
    font-family: var(--font-default)
}

/* discover page */

#discover-main{
    background-color: var(--background-color2);
    display: grid;
    grid-template-columns: 1fr;
}

.events-discover h2{
    text-align: center;
    margin-bottom: 0.5rem;
    padding-bottom: 2.5rem;
}

.discover-pics img{
    margin: 0.5rem 0.5rem;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid black;
    
}

.discover-pics{
    display: block;
    position: relative;
    
}

.discover-pics span{
    position: absolute;
    top: 10px;
    left: 5px;
    right: 5px;
    background-color: rgba(255,255,255, 0.2);
    
}

/* Form Formating */

.joinForm fieldset{
    margin: 2rem 0;
    border: 2px solid black;
    border-radius: 8px;
    background-color: var(--background-color1);
    width: 50%;
    max-width: 450px;
}

.joinForm label{
    display: block;
    padding-top: 0.5rem;
    color: var(--text-color1);
}   

.joinForm div{
    display: block;
    padding-top: 0.5rem;
    color: var(--text-color1);
    font-size: 1.2rem;
}

.joinForm #description{
    width: 90%;
    height: 300px;
    max-width: 400px;
}

.joinForm input[type="text"],
.joinForm input[type="email"],
.joinForm input[type="tel"]
{
    background-color: #eee;
    display: block;
    padding-top: 4px;
    width: 90%;
    max-width: 400px;
}

.membership-levels{
    display: none;
}

