@media screen and (min-width: 640px){

    nav ul{
        display: flex;
        justify-content: space-around;
    }

    nav li {
        text-align: center;
        color: black;
        text-decoration: none;
        padding: 10px;
        font-family: 'Goldman', sans-serif;
        font-size: 1.5em;
        display: block;
    }

    #menu{
        display: none;
    }

    /*discover page */

    #discover-main{
        display: grid;
        grid-template-columns: auto auto;
    }

    .events-discover{
        grid-column: 1/2;
    }

    .events-discover h2{
        margin-top: 0.5rem;
    }

    .events-discover .event{
        max-width: 500px;
    }


}