/* Palette URL - https://coolors.co/666a86-edffab-020202-bfd1e5-75b9be */

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    background-color: #75b9be;
}

/* header */

header img, header span {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

header span {
    text-align: center;
    padding: 10px;
}
    

/* buttons */

#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #000;
 	position: absolute;
	left: 1rem;
    top: 1rem;
}

#mode {
	font-size: 1.5rem;
	border: 0;
	background: none;
 	position: absolute;
	right: 1rem;
    top: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before{
    content: "❌";
}

#mode::before {
	content: "😎";
}

#mode.open::before{
    content: "🌞";
}

body.open {
    background-color: black;
    color: white;
}
/* nav */

nav {
    background-color: #edffab;
    border: 2px solid black ;
    text-align: center;
    
}

nav ul {
    list-style-type: none; 
    justify-content: center;
    display: none;
}

nav a {
    color: black;
    padding: .5rem;
    text-decoration: none;
   
}

nav a:hover {
    background-color: rgba(255,255,255, 0.1);
}

nav .active {
    background-color: rgba(0,0,0, 0.2);
}

.open ul{
    display: block;
}


/* main */

main {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #75b9be;
}

main h1 {
    text-align: center;
}

#hero {
    grid-column: 1/2;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#hero img{
    max-width: 100%;
    height: auto;
    display: block;
    border: 2px solid black ;
    margin-bottom: 1rem;
}

#hero span{
    font-size: 1rem;
    position: absolute;
    top: 0;
    left: 2px;
    right: 2px;
    background-color: rgba(255,255,255, 0.2);
    padding: .2rem;
    text-align: center;
}

.card {
    display: block;
    background-color: #edffab;
    border: 2px solid black ;
    padding: 1rem;
    margin: .3rem;
}

iframe{
    max-width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

