@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');
/* Palette URL - https://coolors.co/666a86-edffab-020202-bfd1e5-75b9be */

@media screen and (min-width: 960px){

/* header */

header{ 
    background-color: #75b9be;
    display: grid;
    grid-template-columns: auto auto;
    height: auto;
    padding: 10px;
}

header img{
    height: 200px;
    grid-column: 2/3;

}

header h1{
    font-family: 'Goldman', sans-serif;
    color: #020202;
    align-self: center;
    grid-column: 3/4;
}

nav{
    display: flex;
    justify-content: space-around;
    background-color: #666a86;
}

nav ul{
    display: flex;
}

nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 50px;
    font-family: 'Goldman', sans-serif;
    font-size: 1.5em;
}

nav a:hover {
    background-color: #edffab;
    color: #bfd1e5;
}

#menu{
    display: none;
}

#hero-title{
    position: absolute;
	top: 25px;
	left: 200px;
	background: radial-gradient(#fff, #BFD1E5);
	border: 1px solid rgba(0,0,0,.75);
	padding: 0.8rem;
	box-shadow: 0 0 3rem #fff;
	opacity: 0.75;
    font-family: 'Goldman', sans-serif;
}
}